<div id="messages"></div>

<div id="footer">
    &copy; 2020
    <a target="_blank" href="https://www.instagram.com/maxluetkemeyer/">Max Lütkemeyer, </a>
    <a target="_blank" href="https://www.instagram.com/lc_leon007/">Leon Cena, </a>
    <a target="_blank" href="https://www.instagram.com/robin0056/">Robin Killewald</a>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="scripts/libraries/fitty.min.js"></script>
<script src="scripts/libraries/pSBC.js"></script>
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script src="scripts/utils.js"></script>