<!DOCTYPE html>
<html>
<head>
    <title>Monitoring</title>
    <link rel="icon" type="image/png" href="img/icon.png">
    <!-- Meta -->
    <meta charset="utf-8">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <!-- Tools -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    
