<div id="leftSidebar" class="sidebar">
    <div id="gameStatistics">
        <span class="centerText">Game statistics</span>
    </div>
    <div id="playerlist">
        <div class="playerContainer"><div class="player" id="player1Container"><span id="player1">1 - active</span></div><span id="player1you" class="playerYou">you</span></div>
        <div class="playerContainer"><div class="player" id="player2Container"><span id="player2">2 - active</span></div><span id="player2you" class="playerYou">you</span></div>
        <div class="playerContainer"><div class="player" id="player3Container"><span id="player3">3 - active</span></div><span id="player3you" class="playerYou">you</span></div>
        <div class="playerContainer"><div class="player" id="player4Container"><span id="player4">4 - active</span></div><span id="player4you" class="playerYou">you</span></div>
        <div class="playerContainer"><div class="player" id="player5Container"><span id="player5">5 - active</span></div><span id="player5you" class="playerYou">you</span></div>
        <div class="playerContainer"><div class="player" id="player6Container"><span id="player6">6 - active</span></div><span id="player6you" class="playerYou">you</span></div>
    </div>

    <div id="youContainer">
        <div id="youHeadding">
            <span class="centerText">You</span>
        </div>
        <div id="roundDisplay"></div>
    </div>
    <div id="chart-container">
        <canvas id="timeLeftChart"></canvas>
    </div>
    <div id="moveHistory">
        <span>> ...</span><span id="timeLeftTimer">0:0</span>
        <div></div>
    </div>
</div> 